:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in whole table */
table {
  border-collapse: collapse;
}

/* Safari - solve fonts issues when the orientation changes */
html {
  -webkit-text-size-adjust: none;
}

/* text decoration none for links */
a {
  text-decoration: none;
}